*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.page-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 18px;
}

.page-logo {
  display: block;
  font-size: 0;
  width: 160px;
  height: 65px;
  background-image: url("../img/nerds-logo.png");
  margin-right: 200px;
}

.page-logo-inner:hover {
  opacity: 0.8;
}

.page-logo-inner:active {
  opacity: 0.3;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

.page-menu, .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.page-menu {
  width: 600px;
}

.user-block {
  width: 200px;
}

.page-menu-item, .user-block-item {
  position: relative;
  padding-bottom: 9px;
}

.page-menu-item {
  margin-right: 47px;
}

.page-menu-item:last-child {
  margin-right: 0;
}

.user-block-item {
  margin-left: auto;
  padding-left: 40px;
}

.page-menu-item-link, .user-block-item-link {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.user-block-item-link::before {
  position: absolute;
  top: -2px;
  left: -40px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -30px -26px;
}

.page-menu-item-link:hover, .user-block-item-link:hover {
  color: #fb565a
}

.page-menu-item-link:active, .user-block-item-link:active {
  color: #000000;
  opacity: 0.3;
}

.page-menu-item-link-active, .user-block-item-link-active, .page-menu-item-link-active:hover, .user-block-item-link-active:hover, .page-menu-item-link-active:active, .user-block-item-link-active:active {
  color: #000000;
  opacity: 1;
  cursor: default;
}

.page-menu-item-active::after, .user-block-item-active::after {
  position: absolute;
  left: 0;
  bottom: 4px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.slider {
  position: relative;
  height: 413px;
}

.slider-input {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 104px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 200px;
  height: 10px;
  text-align: center;
  z-index: 10;
}

.slider-controls-item {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}

.slider-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 520px;
  padding: 60px 0;
  color: #283136
}

.slider-item-info-title {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  max-width: 520px;
  margin-bottom: 25px;
}

.slider-item-info-text {
  margin-bottom: 40px;
}

.btn {
  padding: 16px 54px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 431px 100%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 431px 100%;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 431px 100%;
}

#btn-1:checked~.slider-slides .slider-item:nth-child(1), #btn-2:checked~.slider-slides .slider-item:nth-child(2), #btn-3:checked~.slider-slides .slider-item:nth-child(3) {
  display: block;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 0;
}

.services-item-img {
  width: 300px;
  height: 146px;
  background-color: #fb565a;
  margin-bottom: 25px;
}

.services-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}

.services-item-text {
  max-width: 250px;
  margin-bottom: 32px;
}

.services-btn {
  padding: 16px 40px;
}

.bg-green {
  background-color: #00ca74;
}

.bg-green:hover {
  background-color: #00bc6c;
}

.bg-green:active {
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
  box-shadow: inset 0 3px 0 0 #009958;
}

.bg-yellow {
  background-color: #efc84a;
}

.bg-yellow:hover {
  background-color: #eab534;
}

.bg-yellow:active {
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 70px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.about-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 670px;
  padding-top: 34px;
}

.about-us-info-title {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  max-width: 670px;
  margin-bottom: 33px;
}

.about-us-info-text {
  max-width: 670px;
  margin-bottom: 39px;
}

.about-us-info-orders-title {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}

.about-us-info-orders-item {
  position: relative;
  list-style: none;
  padding-left: 37px;
  margin-bottom: 24px;
}

.about-us-info-orders-item:last-child {
  margin-bottom: 0;
}

.about-us-info-orders-item::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us-percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
}

.about-us-percentages-img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.about-us-percentages-list-title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 41px;
}

.about-us-percentages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.about-us-percentages-list-item {
  width: 100px;
  margin-right: 20px;
}

.about-us-percentages-list-item-percent {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 12px;
}

.percent-symbol {
  font-size: 28px;
}

.partner-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 45px 0;
  border-bottom: 2px solid #eeeeee;
}

.partner-logos-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-size: 0;
  width: 260px;
  height: 90px;
  cursor: default;
}

.partner-logos-link::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -20px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partner-logos-link:last-child::after {
  display: none;
}

.partner-logos-link-img {
  opacity: 0.2;
  cursor: pointer;
}

.partner-logos-link-img:hover {
  opacity: 1;
}

.partner-logos-link-img:active {
  opacity: 0.1;
}

.page-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-inner-footer {
  padding-top: 0;
}

.contacts {
  position: relative;
  height: 416px;
  background-color: #e9e5dc;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100%;
  margin-bottom: 69px;
}

.page-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contacts-info {
  position: relative;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 319px;
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 47px;
}

.contacts-info-title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 19px;
}

.contacts-info-text {
  margin-bottom: 5px;
}

.contacts-info-tel {
  margin-bottom: 35px;
}

.contacts-btn {
  padding: 16px 44px;
}

.contacts-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -32px;
  width: 960px;
  padding: 70px 101px;
  padding-bottom: 79px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 30px 3px #595a5a;
  box-shadow: 0 7px 30px 3px #595a5a;
}

.js-form-hidden {
  display: none;
}

.contacts-form-title-and-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.form-btn-close {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
  opacity: 0.3;
  cursor: pointer;
  outline: none;
}

.form-btn-close:hover {
  opacity: 1;
}

.form-btn-close:active {
  opacity: 0.1;
}

.form-btn-close::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 25px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fb565a;
}

.form-btn-close::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 25px;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fb565a;
}

.contacts-form-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.contacts-form-name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.contacts-form-name, .contacts-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts-form-name {
  margin-right: 40px;
}

.contacts-form-label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.contacts-form-text, .contacts-form-textarea {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  padding: 15px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}

.contacts-form-text:hover, .contacts-form-textarea:hover {
  border: 2px solid #b4b9bb;
}

.contacts-form-text:focus, .contacts-form-textarea:focus {
  color: rgba(68, 68, 68, 1);
  border: 2px solid #000000;
}

.contacts-form-text:invalid, .contacts-form-textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.contacts-form-text {
  width: 359px;
}

.contacts-form-textarea {
  height: 118px;
  margin-bottom: 47px;
  resize: none;
}

.contacts-form-btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 15px 82px;
}

.page-footer-social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 137px;
}

.social-btn {
  display: block;
  width: 80px;
  height: 80px;
  font-size: 0;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -4px -870px;
  margin-right: 11px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  background-position: -4px -945px;
}

.social-btn-fb {
  background-position: 3px -242px;
}

.social-btn-fb:active {
  background-position: 3px -324px;
}

.social-btn-inst {
  background-position: 0 -405px;
}

.social-btn-inst:active {
  background-position: 0 -486px;
}

.page-footer-info-title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.page-footer-info-text {
  font-size: 16px;
  line-height: 22px;
}

.page-inner-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 108px;
}

.page-main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 60px;
}

.content-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 260px;
  margin-right: 140px;
}

.content-filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-filter-title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14px;
}

.price-title {
  margin-bottom: 47px;
}

.range {
  position: relative;
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 14px;
}

.range-long {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 218px;
  height: 2px;
  background-color: #00ca74;
}

.range-short {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 70px;
  height: 2px;
  background-color: #d7dcde;
}

.range-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 #cccdcd;
  box-shadow: 0 2px 2px 0 #cccdcd;
  cursor: pointer;
}

.range-min {
  left: 15px;
}

.range-max {
  right: 81px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.price-controls-label {
  margin-right: 10px;
}

.price-controls-input {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;
  width: 80px;
  height: 38px;
  margin-right: 35px;
  background-color: #eeeeee;
  border: none;
  outline: none;
  border-radius: 3px;
}

.price-controls-input:last-child {
  margin-right: 0;
}

.price-controls-input:hover {
  border: 2px solid #b4b9bb;
}

.price-controls-input:focus {
  color: rgba(68, 68, 68, 1);
  border: 2px solid #000000;
}

.content-filter-grid, .content-filter-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 43px;
}

.content-filter-features {
  margin-bottom: 47px;
}

.content-filter-grid-label, .content-filter-features-label {
  position: relative;
  display: block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 35px;
  margin-bottom: 16px;
  cursor: pointer;
}

.content-filter-grid-label:last-child, .content-filter-features-label:last-child {
  margin-bottom: 0;
}

.content-filter-grid-label::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -30px -597px;
  opacity: 0.4;
}

.content-filter-grid-label:hover {
  color: #000000;
}

.content-filter-grid-label:hover::before {
  opacity: 1;
}

.content-filter-grid-label:disabled::before {
  opacity: 0.1;
}

.content-filter-radio {
  display: none;
  visibility: hidden;
}

.content-filter-radio:checked+.content-filter-grid-label::before {
  background-position: -30px -682px;
}

.content-filter-features-label::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -30px -105px;
  opacity: 0.4;
}

.content-filter-checkbox {
  display: none;
  visibility: hidden;
}

.content-filter-features-label:hover {
  color: #000000;
}

.content-filter-features-label:hover::before {
  opacity: 1;
}

.content-filter-features-label:disabled::before {
  opacity: 0.1;
}

.content-filter-checkbox:checked+.content-filter-features-label::before {
  background-position: -30px -188px;
}

.content-filter-btn {
  outline: none;
  color: #000000;
  background-color: #eeeeee;
}

.content-filter-btn:hover {
  background-color: #dfdfdf;
}

.content-filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.content-catalog {
  width: 759px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3px;
  margin-bottom: 57px;
}

.sort-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-types-span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-right: 267px;
}

.sort-types-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 275px;
}

.sort-types-btn {
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0;
  margin-right: 25px;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.sort-types-btn:last-child {
  margin-right: 0;
}

.sort-types-btn:hover {
  opacity: 0.6;
}

.sort-types-btn:active {
  opacity: 1;
}

.sort-types-btn-active, .sort-types-btn-active:hover, .sort-types-btn-active:active {
  opacity: 1;
  outline: none;
  cursor: default;
}

.sort-regularize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.sort-regularize-btn {
  font-size: 0;
  width: 9px;
  height: 9px;
  margin-right: 16px;
  border: none;
  opacity: 0.2;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -28px -767px;
  background-color: transparent;
  cursor: pointer;
}

.sort-regularize-btn:last-child {
  margin-right: 0;
}

.sort-regularize-btn-max {
  background-position: -28px -836px;
}

.sort-regularize-btn:hover {
  opacity: 0.4;
}

.sort-regularize-btn:active {
  opacity: 1;
}

.sort-regularize-btn-active, .sort-regularize-btn-active:hover, .sort-regularize-btn-active:active {
  opacity: 1;
  outline: none;
  cursor: default;
}

.content-catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.content-catalog-item {
  position: relative;
  width: 360px;
  height: 616px;
  margin-right: 39px;
  margin-bottom: 34px;
}

.content-catalog-item:nth-of-type(2n) {
  margin-right: 0;
}

.catalog-item-decor {
  display: block;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.content-catalog-item-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 360px;
  height: 231px;
  padding: 28px 0;
  background-color: #eeeeee;
  overflow-y: auto;
  opacity: 0;
}

.content-catalog-item:hover .content-catalog-item-info, .content-catalog-item:hover .catalog-item-decor {
  opacity: 1;
}

.content-catalog-item:hover {
  -webkit-box-shadow: 0 5px 20px 2px #cfcfcf;
  box-shadow: 0 5px 20px 2px #cfcfcf;
}

.content-catalog-item-info-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14px;
}

.content-catalog-item-info-text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  max-width: 180px;
  margin-bottom: 30px;
}

.long-text {
  max-width: 235px;
}

.price-btn {
  padding: 16px 60px;
}

.background-item {
  width: 360px;
  height: 575px;
}

.bg-sedona {
  background-color: #728fb1;
  background-image: url("../img/img-sedona.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.bg-pink {
  background-color: #273341;
  background-image: url("../img/img-pink.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.bg-barber {
  background-color: #0d0d0d;
  background-image: url("../img/img-barbershop.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.bg-mishka {
  background-color: #f9f9f9;
  background-image: url("../img/img-mishka.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.bg-aplus {
  background-color: #6551d6;
  background-image: url("../img/img-aplus.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.bg-kvast {
  background-color: #775a16;
  background-image: url("../img/img-kvast.jpg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
}

.content-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-pages-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  margin-right: 12px;
}

.content-pages-link:last-child {
  margin-right: 0;
}

.content-pages-link-next {
  text-transform: uppercase;
  padding: 15px 78px;
}

.content-pages-link:hover {
  background-color: #dfdfdf;
}

.content-pages-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.content-pages-link-active, .content-pages-link-active:hover, .content-pages-link-active:active {
  color: rgba(0, 0, 0, 1);
  padding: 13px 18px;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
